<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.jdslk.calculusprime">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Calculus Prime"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Calculus Prime"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Favorites"
            android:label="Favorites"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".About_us"
            android:label="About us"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".Help"
            android:label="Help"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            tools:targetApi="jelly_bean" />
    </application>

</manifest>